<ion-header>
  <ion-navbar>
    <ion-title>
      Deck
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
  <ion-segment [(ngModel)]="cards">
    <ion-segment-button value="card_class">
       {{ classNameUser }}
    </ion-segment-button>
    <ion-segment-button value="neutral_class">
        Neutral
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="cards">

  <ion-row *ngSwitchCase="'card_class'">
    <ion-col col-6 *ngFor="let card of classCards" (click)="addDeck(card)">
      <ion-card>
        <img src="{{card.image_url}}"/>
        <ion-card-content>
          <ion-card-title>
            {{card.count}}
            </ion-card-title>
        </ion-card-content>
     </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngSwitchCase="'neutral_class'">
    <ion-col col-6 *ngFor="let card of neutralCards" (click)="addDeck(card, true)">
      <ion-card>
        <img src="{{card.image_url}}"/>
        <ion-card-content>
          <ion-card-title>
            {{card.count}}
            </ion-card-title>
        </ion-card-content>
     </ion-card>
    </ion-col>
  </ion-row>

  </div>
</ion-content>
